<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
  <th:block th:fragment="navbar">


    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index" class="logo d-flex align-items-center">
        <img src="/img/logo.ico" alt="ícone do site">
        <span>Nome</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="index#about">Sobre</a></li>
          <li><a class="getstarted scrollto" th:href="@{/login}">Login/Cadastro</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>

  </th:block>
  <th:block th:fragment="menu (item, subitem)">
    <header id="header" class="header fixed-top">
      <div class="container">
        <th:block th:replace="fragments/layout :: navbar"></th:block>
      </div>
    </header>
  </th:block>
</body>

</html>