<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="${#locale.language}">

<head th:replace="fragments/layout::head('JerimumJobs - IMD')">
    <title>JerimumJobs - IMD</title>
</head>

<body>
    <div class="tela-erro" align="center">
        <br /><br />

        <h2 style="font-family: monospace; text-align: center;" text="Acesso não autorizado"></h2><br />

        <p style="text-align: center;">
            <span text="Você não possui acesso para acessa essa página"></span><br />

            <br/><br/>

        </p>
    </div>
</body>

</html>
