<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/layout_usuario_logado}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

</head>

<body class="bg-light">
<th:block layout:fragment="content">
    <div class="container-fluid" >
        <div class="ml-md-5 mr-md-5 mb-5">
            <h2 class="text-secondary mt-4 mb-4 text-center">Profissionais não validados</h2>
        </div>
    </div>
</th:block>
<th:block layout:fragment="js">
</th:block>
</body>
</html>