<!DOCTYPE html>
<html  lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cadastro</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <th:block layout:fragment="content">
        <div th:if="${param.error}">
            Erro
        </div>
        <div class="pacienteForm">
            <h2 class="text-secondary mb-4 text-center">CADASTRO PACIENTE</h2>
            <form class="ml-md-5 mr-md-5 mb-5" method="POST" th:object="${paciente}" th:action="@{/paciente/salvar}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nomePacienteInput">Nome</label> <input
                            class="form-control" id="nomePacienteInput" type="text"
                            th:field="*{pessoa.nome}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.nome')}" th:errors="*{pessoa.nome}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="cpfInput">CPF</label> <input class="form-control"
                                                                 id="cpfInput" type="text" th:field="*{pessoa.cpf}"
                                                                 data-mask="000.000.000-00" data-mask-reverse="true"
                                                                 required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.cpf')}"
                                 th:errors="*{pessoa.cpf}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="emailPacienteInput">E-mail</label> <input
                            class="form-control" id="emailPacienteInput" type="text"
                            th:field="*{pessoa.email}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.email')}"
                                 th:errors="*{pessoa.email}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="DataNascimentoPacienteInput">Data Nascimento</label> <input
                            class="form-control" id="DataNascimentoPacienteInput" type="date"
                            th:field="*{pessoa.dataNascimento}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.dataNascimento')}"
                                 th:errors="*{pessoa.dataNascimento}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="loginPacienteInput">Login</label> <input
                            class="form-control" id="loginPacienteInput" type="text"
                            th:field="*{pessoa.usuario.login}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.usuario.login')}"
                                 th:errors="*{pessoa.usuario.login}">errors</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="senhaPacienteInput">Senha</label> <input
                            class="form-control" id="senhaPacienteInput" type="password"
                            th:field="*{pessoa.usuario.senha}" required="required" />
                        <div style="color: red;">
                            <div th:if="${#fields.hasErrors('pessoa.usuario.senha')}"
                                 th:errors="*{pessoa.usuario.senha}">errors</div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-primary">cadastrar</button>
                </div>

            </form>
        </div>
</body>
</html>